@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body{
    margin-top: 2em;
    padding: 0;
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, #24243e, #302b63, #0f0c29);
  }
  .body1{
    display: flex;
  }
  .logo {
    text-align: center;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 2em;
    color: white;
  }

  .info{
    display: flex;
    position: relative;
    color: navy;
    font-size: 20px;
    padding: 15px;
    background:linear-gradient(45deg, #ccff00, #09afff);
    width: 600px;
    height: 400px;
    margin-left: 25%;
    margin-right: 35%;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: 'Roboto Condensed',sans-serif;
    border-radius: 15px;
    text-align: center;
  }

  .con
  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 50px;
  }

  .container{
    padding-top: 2em;
    width: 1200px;
    margin: 0 auto;
    align-items: center;
  }

  .card{
    position: relative;
    width: 300px;
    height: 325px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 15px 60px rgba(0,0,0, .5);
    border-radius: 15px;
  }

  .card .face{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card .face.face1{
    box-sizing: border-box;
    padding: 20px;
  }

  .card .face.face1 h2{
    margin: 0;
    padding: 0;
  }

  .card .face.face1 .content{
    font-size:1.2em;
    margin:0;
    padding:0 0 1em 0;
    font-weight:500;
  }

  .card .face.face2{
    background: #111;
    transition: 0.5s;
    text-align: center;
  }

  .card:nth-child(3n+1) .face.face2{
    background: linear-gradient(45deg, #3503ad, #f7308c);
    border-radius: 15px;
  }

  .card:nth-child(3n+2) .face.face2{
    background: linear-gradient(45deg, #ccff00, #09afff);
    border-radius: 15px;
  }

  .card:nth-child(3n) .face.face2{
    background: linear-gradient(45deg, #e91e63, #ffeb3b);
    border-radius: 15px;
  }

  .card:hover .face.face2{
    height: 60px;
    border-radius: 0 0 15px 15px;
  }

  .card .face.face2:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255, 0.1);
    border-radius: 15px 0 0 15px;
  }

  .card .face.face2 h2{
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #fff;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0,0,0, .2);
  }

  .card:hover .face.face2 h2{
    font-size: 2em;
  }
  /*login*/
  input[type=text] {
    width: 50%;
    padding: 20px 20px;
    margin: 8px 98px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: lightgray;
    box-sizing: border-box;;
    
  }
  .submit{
      margin-top:30px;
      margin-left:220px;
      font-size: 25px;
      width: 20%;
  }
  .reg{
    position: relative;
    font-size: 25px;
    padding: 25px 100px;
    margin-right: 30%;
    margin-left: 40%;
  }
  .reg1{
    position: relative;
    margin-left: 0px;
    font-size: 20px;
    padding: 25px 100px;
  }
  input[type=number]{
      width: 50%;
    padding: 20px 20px;
    margin: 8px 50px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;;
    background-color: lightgray;
  }
  select{
      width: 50%;
    padding: 20px 20px;
    margin: 8px 220px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;; 
  }
  .entry{
      margin-left: 70px;
      color: white;
      
  }
  .entry2{
    margin-left: 70px;
      color: white;
      
  }
  
  
 
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    width: 10%;
    
  }
  
  button:hover {
    opacity: 0.8;
  }
  
 
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container1 {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 10;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
    
  }
  

  .modal-content {
    background-image:linear-gradient(135deg, #24243e, #302b63, #0f0c29);
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 50%; 
    border:2px solid black;
  }
  .modal-content2 {
    background-image:linear-gradient(135deg, #24243e, #302b63, #0f0c29);
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 50%; 
    border:2px solid black;
  }
  
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  
 
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
 
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  @media screen and (max-width: 800px){
    .body1,.card,.info,.outer{
      flex-direction:row;
      margin: 0px;
      
      width: 100%;
    }
    @media screen and (max-width: 800px){
      .info{
        font-size: 20px;
        width: 340px;
        margin-left: -5px;
      }
    }

  }
  @media screen and (max-width:800px){
    .reg{
      display: none;
    }
  }
  @media screen and (max-width:800px){
    .modal{
      overflow-x: hidden;;
    }
  }
  
  @media screen and (min-width:800px){
    .reg1{
      display: none;
    }
  }
  @media screen and (max-width:800px){
    input[type=text] {
    margin-left: 0px;
    padding: 20px 20px;
      width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: lightgray;
    box-sizing: border-box;;
    
  }
  }
  @media screen and (max-width:800px){
    input[type=number]{
      width: 100%;
    padding: 20px 20px;
    margin-left: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;;
    background-color: lightgray;
  }
  }
  @media screen and (max-width:800px){
    select{
      width: 100%;
    padding: 20px 20px;
    margin-left: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;; 
  }
  }
  @media screen and (max-width:800px){
    .submit{
      margin-top:30px;
      margin-left:0px;
      font-size: 25px;
      width: 100%;
  }
  
  }
  @media screen and (max-width:800px){
    .modal-content {
      background-image:linear-gradient(135deg, #24243e, #302b63, #0f0c29);
      background-color: #fefefe;
      margin: 5% auto 15% auto; 
      border: 1px solid #888;
      width: 80%; 
      border:2px solid black;
    }
  
  }
  @media screen and (max-width:800px){
    .entry2{
      margin-left: 20px;
        color: white;
        
    }
  
  }
  @media screen and (max-width:800px){

    .entry{
      margin-left: 10px;
      color: white;
    
}
  }